<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="wap-font-scale" content="no">
    <title>
      {$theme['headtitle']}
    </title>
    <link rel="stylesheet" href="../addons/wmb_run/template/mobile/css/style-rule.c9a8d68b.css">
</head>

<body>
<article class="page-rule">
    <section class="r-header">
       <span id="r-back" onclick="window.history.back()">返回首页</span>
    </section>
    <section class="r-cont">
        <h3 class="r-title">活动规则</h3>
       
          <!--  <ul class="r-txt">
		  <li>用户开始接力跑道后，有多次游戏机会。游戏开始后，10秒内限时跑步。左右交替点击越快，跑的距离越远。单个人的跑步成绩只记录最高成绩。</li>
            <li>用户可以将游戏分享给好友，邀请朋友帮忙接力跑。分享给朋友之后由朋友开始接力，用户自己就不能再跑了。每位好友仅可帮忙接力跑1次。</li>
            <li>整个跑道接力跑满500米，用户回到自己的活动首页，点击“我要兑奖”按钮，输入兑换话费的手机号码，根据页面引导到UC浏览器客户端进行奖品兑换。</li>
            <li>活动时间为2015年4月28日-5月8日15:00。兑奖时间为2015年5月4日-5月8日每天14:00-15:00，用户可以到UC浏览器客户端内，按照兑奖规则兑换50元话费、流量包等奖品。</li>
            <li>活动兑奖，需要UC浏览器客户端9.9.7及以上版本。</li>
            <li>参与活动期间请不要卸载UC浏览器，因卸载行为导致的活动及获奖数据丢失造成的奖品损失，由用户个人承担。</li>
			  </ul>-->
			
					
										{php echo htmlspecialchars_decode($theme['therule']);}
      
    </section>
    <div class="r-copy">
        Copyright © 2004 - 2015
        <br />
    </div>
</article>
<script type="text/javascript" src="../addons/wmb_run/template/mobile/js/sea.js"></script>
<script type="text/javascript">
 $(function(){

    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
							//WeixinJSBridge.call('hideToolbar');
                            WeixinJSBridge.call('hideOptionMenu');
             });
			 });
</script>
</body>

</html>